<header id="header" class="header">
  <div class="container">
    <nav class="nav">
      <a href="/" class="nav__brand">
        <i class="ri-code-s-slash-line"></i>{{headertext}}
      </a>
      <div class="nav__menu" id="nav-menu">
        <ul class="nav__list">
          <li class="nav__item">
            <a href="#hero" class="nav__link">Home</a>
          </li>
          <li class="nav__item">
            <a href="#about" class="nav__link">About</a>
          </li>
          <li class="nav__item">
            <a href="#service" class="nav__link">Services</a>
          </li>
          <li class="nav__item">
            <a href="#contact" class="nav__link">Contact</a>
          </li>
        </ul>
      </div>
      <div class="nav__toggle">
        <i id="nav-toggle" class="ri-menu-3-line"></i>
      </div>
    </nav>
  </div>
</header>
