<footer id="footer" class="footer">
  <div class="container">
    <div class="d-grid footer__wrapper">
      <div class="footer__content">
        <h4 class="footer__title">Follow Me</h4>
        <ul class="footer__social-list">
          <li class="footer__social-item">
            <a href="#" class="footer__social-link">
              <i class="ri-github-fill"></i>
            </a>
          </li>
          <li class="footer__social-item">
            <a href="#" class="footer__social-link">
              <i class="ri-linkedin-fill"></i>
            </a>
          </li>
          <li class="footer__social-item">
            <a href="#" class="footer__social-link">
              <i class="ri-twitter-fill"></i>
            </a>
          </li>
          <li class="footer__social-item">
            <a href="#" class="footer__social-link">
              <i class="ri-instagram-fill"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__content">
        <h4 class="footer__title">Email Me</h4>
        <a href="#" class="footer__contact">{{email}}</a>
      </div>
      <div class="footer__content">
        <h4 class="footer__title">Call Me</h4>
        <a href="#" class="footer__contact">(+237) {{numtel1}} / {{numtel2}}</a>
      </div>
    </div>
    <p class="footer__copyright">&copy; 2023 Cameroon. All Rights Reserved</p>
  </div>
</footer>
